
body {
    /* your styles here */
    color: #708090; 
    font-family: 'Emilys Candy';

  }
  
  h1, #designed-by {
    /* your styles here */
    text-align: center;
  }
  
  .style1 {
    background-color: #E9C46A;
  }
  
  .style2 {
    background-color: #F4A261;
  }
  
  .style3 {
    background-color: #E76F51;
  }
  
  .style4 {
    background-color: #B2B1CF;
  }
  
  .style5 {
    background-color: #2A9D8F;
  }
  
  .style6 {
    background-color: #264653;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }